:root {
    /* 벽자색 */
    --main-color: #8C9ED9;
    /* 설백색 */
    --font-white: #E2E7E4;
    /* 청현색 */
    --point-color: #566A8E;

    /* 경고의 빨간색 */
    --red-msg: rgb(247, 50, 50);

    --light-gray: rgb(231, 231, 231);

    /* 버튼 */
    --pink-backgroud: rgb(252, 222, 227);

    /* 폰트 */
    --font-pretendard: 'pretendard', sans-serif;
    --font-noto-snas: 'Noto Sans KR', sans-serif;


}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid green;
}

/* 최상단 */
.location-area {
    margin: 30px auto 0 auto; 
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 900px;
}

.search-area {
    width: 900px;
    display: flex;
    justify-content: left;
}

.shop-search-box {
    height: 50px;
    width: 550px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    background-color: var(--light-gray)
}

.search-icon > img {
    width: 30px;
    margin: 20px;
}

.location-search-area {
    margin-left: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    border: 1px solid saddlebrown;
}

.location-icon > img{
    width: 40px;
}

.location-now {
    font-size: 25px;
    margin-left: 15px;
    margin-bottom: 5px;
}

/* 지도 부분 */

.main-content-area {
margin-top: 20px;
  position: relative;
  width: 1280px;
  height: 500px;
  overflow: hidden;
  border: 1px solid sandybrown;

}

.main-map {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  height: 450px;
  background: #eee url('지도이미지.png') center/cover no-repeat;
  z-index: 0;
}

/* 하나의 split-box가 화면 덮음 */
.split-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  overflow: hidden;
}

/* 좌우 가상 요소 */
.split-box::before,
.split-box::after {
  content: "";
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: antiquewhite;
  transition: transform 0.7s ease;
  z-index: 1;
}

.split-box::before {
  left: 0;
}

.split-box::after {
  right: 0;
}

.split-box.open::before {
  transform: translateX(-100%);
}

.split-box.open::after {
  transform: translateX(100%);
}
